@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'letrarobo';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

li::before{
    content: '✔ ';
}

ul{
    columns: 2;
    padding: 10px;
}
.centro{
    text-align: center;
}

header{
    background-image: linear-gradient(to bottom, #2EA564, #063A1C);
    height: 165px;
    color: white;
    box-sizing: border-box;
    font-size: 19px;
    padding-bottom: 50px;
}

header > p {
    padding: 20px;
    line-height: 1em;
    margin-bottom: 40px;
}

nav{
    text-indent: 20px;
    background-color: #063A1C;
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.234);
}


h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.458);
    font-weight: lighter;
    padding: 20px;
}


.menu{
    color: #83E1AD;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    transition-duration: 0.5s;
}


.menu:hover{
    color: #063D1E;
    background-color: #83e1adac;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
    text-decoration: none;
}

body{
    background-color: #EBE5C5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

main{
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.381);
    min-width: 300px;
    max-width: 900px;
    border-radius: 0px 0px 10px 10px;
}

aside{
    background-color: #83E1AD;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.174);
}

footer{
    background-color: #063D1E;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding: 5px;
}

.foot{
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.foot:hover{
    text-decoration: underline;
    color: #83E1AD;
}

.letra{
    font-family: 'letrarobo';
}

h2{
    font-size: 28px;
    color: #063D1E;
    font-weight: lighter;
}

h3{
    background-image: linear-gradient(to right,#ADEBC8,white);
    font-size: 20px;
    color: #1A5C37;
    font-weight: lighter;
}

h4{
    background-color: #1A5C37;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px 10px 0px 0px;
}

p{
    text-indent: 30px;
    word-spacing: 2px;
    line-height: 2em;
    padding: 15px;
}


.externo{
    color: #103b23;
    text-decoration: none;
    font-weight: bold;
    background-color: #83E1AD;
    padding: 2px 5px;
}

.externo:hover{
    text-decoration: underline;
    color: #1A5C37
}

.externo::after{
    content: '🔗';
}

.verde{
    font-weight: bold;
    color: #1A5C37;
}

.video{
    position: relative;
    background-color: #1A5C37;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.a{
    text-align: center;
}

#bugdroid{
    max-width: 350px;
    margin: auto;
}

